# Copy to .env and fill in.
WANDB_API_KEY=your_key_here
WANDB_PROJECT=your_project_name

DEBUG_THINKING_TAGS=False
DEBUG_CITATION_FORMAT=False
DEBUG_ANSWER_FORMAT=False
DEBUG_ANSWER_ACCURACY=False
DEBUG_INTERMEDIATE_STEPS=False